
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header:hover {
    background-color: #555;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

main {
    padding: 20px;
    background-color: #ffffff;
}

nav ul li:hover a {
    text-decoration: underline; /* Add underline on hover */
    cursor: pointer; /* Change cursor to pointer */
}
section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section p, section form {
    font-size: 1.1em;
    line-height: 1.5;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid #A2BAF5;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #A2BAF5;
}
footer {
    background: #4169E1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 5px;
}
/* Custom icon styles */
.fas {
    margin-right: 10px; /* Adds space between the icon and the text */
    color: #333; /* Sets the icon color to blue (hex code for blue) */
}

/* Specific icon styles (if needed) */
.fas.fa-envelope {
    color: #333; /* Ensures the email icon is blue */
}

.fas.fa-phone-alt {
    color: #333; /* Ensures the phone icon is blue */
}


